<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mtbatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<insert id="insertConsumer">
 		INSERT INTO MEMBER VALUES(#{userId}, #{password}, #{userName}, #{email},#{gender},#{birthdate},#{address},#{phone},#{categoryNo}, sysdate, 'A', 'C')
 	</insert>
 	<resultMap type="member" id="memberMap">
 	</resultMap>
 	<select id="selectOne" resultMap="memberMap" parameterType="string">
 		select * from member join consumerrating on(member.ratingCode = consumerrating.ratingCode) where userId = #{userId}
 	</select>
 	<update id="updateConsumer" parameterType="member">
 		update member set password = #{password}, phone = #{phone}, categoryNo = #{categoryNo}, email=#{email},address=#{address} where userId=#{userId}
 	</update>
</mapper>
