<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="performance">
  
  <resultMap type="map" id="performMap">
  </resultMap>
  <select id='categoryList' parameterType="string" resultMap="performMap">
  	select * from category where major = #{category}
  </select>
  <select id="performAllList" parameterType="string" resultMap="performMap">
  	select * from performinfo join category on(performinfo.categoryno = category.categoryno)left join performContent on(performinfo.performno = performcontent.performno) where major = #{category}
  </select>
  <select id = "performSelectList" parameterType="map" resultMap="performMap">
  	select * from performinfo join category on(performinfo.categoryno = category.categoryno)left join performContent on(performinfo.performno = performcontent.performno) where major = #{category} and minor = #{subCategory}
  </select>
  
  <select id ="performSelectOne" parameterType="_int" resultType="map">
  	select * from performinfo 
        join category on(performinfo.categoryno = category.categoryno)
        left join performContent on(performinfo.performno = performcontent.performno) 
		where performinfo.performNo=#{no}
  </select>
  
  <select id="performReview" parameterType="_int" resultMap="performMap">
  	select * from PERFORMANCEREVIEW where performno=#{no} order by reviewDate desc
  </select>
  
  <insert id="performReviewInsert" parameterType="map">
  	insert into PERFORMANCEREVIEW values(seq_review.nextval, 'ohoh', #{review}, ${no}, #{score}, 0, sysdate)
  </insert>
  
  <delete id="performReviewDelete" parameterType="_int">
  	delete from performanceReview where reviewNo = #{reviewNo}
  </delete>
  
  <select id="performReviewOne" parameterType="_int" resultType="map">
  	select * from performanceReview where reviewNo = #{reviewNo}
  </select>
  
  <update id="performReviewUpdateEnd" parameterType="map">
  	update performanceReview set reviewcontent = #{reviewUp_message}, performscore = #{starUpdateScore}  where reviewno= #{reviewNo}
  </update>
  <select id="performSelectTotalCount" parameterType="map" resultType="_int">
  	select count(*) cnt from performinfo
  	join category on(performinfo.categoryNo = category.categoryNo)
	where major = #{category} and minor = #{subCategory}
  </select>
  
  <select id="performReviewTotalCount" parameterType="_int" resultType="_int">
  	select count(*) cnt from performanceReview where performNo = #{no}
  </select>
</mapper>



